html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
    padding-top: 70px;
}

.map-column {
    padding-right: 0;
    padding-left: 0;
}

.content {
    height: 100%;
    padding-top: 0;
    margin-top: 0;
}

.main-content {
  height: 100%;
  width: 100%;
}

.row {
    height: 100%;
}

.col-xs-12,
.col-sm-4,
.col-sm-8,
.sidebar {
    height: 100%;
}

.location-box {
    min-height: 3em;
    border-bottom: 1px solid white;
    padding-top: 1em;
}

.location-box:hover, .location-box:focus, .location-box:active {
  background-color: #8a8a8a;
  color: black;
}

.sidebar {
    position: fixed;
    left: 0;
    padding-top: 70px;
    z-index: 1;
    color: white;
    min-width: 20%;
    background-color: #30383B;
    overflow-y: scroll;
}

.filter {
    font-size: 2em;
    width: 80%;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
}

.filter:focus {
    outline: none;
    border-color: #2572DE;
}

.sidebar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.center-element {
  display: block;
  margin: 0 auto;
}

.activelocation {
  background-color: #8A8A8A;
  color: red;
}

.locations-container {
  padding-top: 3em;
}

@media (max-width: 768) {
  .sidebar {
    width: 80%;
  }
}

.no-decoration, .no-decoration:hover, .no-decoration:active, .no-decoration:visited, .no-decoration:focus {
    text-decoration:none !important;
    color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.infoWindow {
  display: flex;
  flex-wrap: wrap;
}

.infoWindow-image {
  width: 40%;
  padding-top: 1em;
}

.infoWindow-body {
  width: 60%;
}
